# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.Ruserdata

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
*_cache
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Output files
*.html
*.pdf
*.log

TODO
OLD
cache/
checks/
data/
docs/
output/